In [1]:
import pandas as pd
import os
from typing import Optional, Tuple
from src.data.loading import DataLoader
from src.features.feature_engineering import FeaturesMaker
from src.data.split import train_test_split_by_date

In [2]:
dl = DataLoader()
store_sales = dl.load_store_sales('../data/store_sales.csv')
store_sales_dates = dl.load_dates('../data/store_sales_dates.csv')

In [3]:
fm = FeaturesMaker()
dataset = fm.make_features(store_sales, 'cnt', 93, 7, store_sales_dates)

In [4]:
train, test = train_test_split_by_date(dataset, 'date', '2016-01-01')

In [6]:
train.tail()

,store_id,item_id,date,cnt,cnt_lag_94,cnt_lag_95,cnt_lag_96,cnt_lag_97,cnt_lag_98,cnt_lag_99,cnt_lag_100,event_name,event_type,weekday,day,month,year
5431,STORE_3,STORE_3_586,2015-12-27,86,74,102,74,72,118,112,82,not_event,not_event,6,27,12,2015
5432,STORE_3,STORE_3_586,2015-12-28,62,87,74,102,74,72,118,112,not_event,not_event,0,28,12,2015
5433,STORE_3,STORE_3_586,2015-12-29,60,108,87,74,102,74,72,118,not_event,not_event,1,29,12,2015
5434,STORE_3,STORE_3_586,2015-12-30,77,94,108,87,74,102,74,72,not_event,not_event,2,30,12,2015
5435,STORE_3,STORE_3_586,2015-12-31,91,69,94,108,87,74,102,74,not_event,not_event,3,31,12,2015

In [7]:
test.head()

,store_id,item_id,date,cnt,cnt_lag_94,cnt_lag_95,cnt_lag_96,cnt_lag_97,cnt_lag_98,cnt_lag_99,cnt_lag_100,event_name,event_type,weekday,day,month,year
1798,STORE_1,STORE_1_555,2016-01-01,23,8,14,28,30,14,20,17,NewYear,National,4,1,1,2016
1799,STORE_1,STORE_1_555,2016-01-02,35,11,8,14,28,30,14,20,not_event,not_event,5,2,1,2016
1800,STORE_1,STORE_1_555,2016-01-03,17,22,11,8,14,28,30,14,not_event,not_event,6,3,1,2016
1801,STORE_1,STORE_1_555,2016-01-04,32,30,22,11,8,14,28,30,not_event,not_event,0,4,1,2016
1802,STORE_1,STORE_1_555,2016-01-05,25,15,30,22,11,8,14,28,not_event,not_event,1,5,1,2016